{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center; margin: 2vw 0;"> Quem somos: </h1>

<div class="d-flex justify-content-around">

<div class="quemP">

    <a href="https://github.com/SamuellH12">
    <img src="https://github.com/SamuellH12.png" class="fotoPerfil shadow border border-2 border-secondary">
    </a>
    <h4>SamuellH12</h4>
    <p>Estudante de Informática (IFPI), programador, medalhista da OBI, game designer</p>

</div>

<div class="quemP">

    <a href="">
    <img src="https://anuario-ifpi.samuellh12.repl.co/media/images/alunos/perfil/default_profile.png" class="fotoPerfil shadow border border-2 border-secondary">
    </a>
    <h4> Lorem Ipsum Dolor Sit amet </h4>
    <p>Lorem Ipsum Dolor Sit amet. Lorem Ipsum Dolor Sit amet. Lorem Ipsum Dolor Sit amet</p>

</div>

<div class="quemP">

    <a href="">
    <img src="https://anuario-ifpi.samuellh12.repl.co/media/images/alunos/perfil/default_profile.png" class="fotoPerfil shadow border border-2 border-secondary">
    </a>
    <h4> Lorem Ipsum Dolor Sit amet </h4>
    <p>Lorem Ipsum Dolor Sit amet. Lorem Ipsum Dolor Sit amet. Lorem Ipsum Dolor Sit amet</p>

</div>
  

</div>


{% endblock %}